<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datos del Aula</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Centrar la tarjeta en la pantalla */
      .center-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container center-card">
      <div class="card shadow-lg" style="width: 100%; max-width: 400px">
        <div class="card-body">
          <a href="index.html" class="btn btn-primary mb-3">Volver al menú</a>
          <h5 class="card-title text-center">Datos del Aula</h5>
          <hr />
          <p id="nombre"><strong>Nombre:</strong> Aula 101</p>
          <p id="capacidad"><strong>Capacidad:</strong> 30</p>
          <p id="tieneAire"><strong>¿Tiene aire acondicionado?</strong> Sí</p>
        </div>
      </div>
    </div>

    <script>
      const HOST = "https://laboratorio3-zphz.onrender.com/api/";

      document.addEventListener("DOMContentLoaded", async () => {
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get("id");
        if (id) {
          const aula = await getAula(id);
          if (aula) {
            document.getElementById(
              "nombre"
            ).innerHTML = `<strong>Nombre:</strong> ${aula.nombre}`;
            document.getElementById(
              "capacidad"
            ).innerHTML = `<strong>Capacidad:</strong> ${aula.capacidad}`;
            document.getElementById(
              "tieneAire"
            ).innerHTML = `<strong>¿Tiene aire acondicionado?</strong> ${
              aula.tieneAireAcondicionado ? "Sí" : "No"
            }`;
          }
        }
      });

      const getAula = async (id) => {
        const token = document.cookie
          .split("; ")
          .find((row) => row.startsWith("token="))
          ?.split("=")[1];
        try {
          const response = await fetch(`${HOST}aulas/${id}`, {
            method: "GET",
            headers: {
              Authorization: `Bearer ${token}`, // Agregar el token al encabezado
            },
          });
          if (!response.ok) {
            throw new Error("Error al obtener el aula");
          }
          const aula = await response.json();
          return aula;
        } catch (error) {
          console.error(error);
        }
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
